{% extends 'base.html' %}

{% block title %}DEVICE LIST{% endblock %}

{% block main %}
{#<h1>NOW : {{ now }}</h1>#}

<div>
<h2>내 폰 등록자 목록[총 단말수 : <span class="text-danger">{{ this_list|length }}</span>]</h2>
<input type="button" class="btn btn-info btn-send-push" data-toggle="modal" data-target="#modal-push" value="PUSH 보내기"/>
<table class="table table-striped table-hover text-monospace">
    <thead>
        <th>devEUI</th>
        <th>사용자 아이디</th>
        <th>이름</th>
        <th>폰 번호</th>
        <th>OS</th>
        <th>GCM Token</th>
        <th>마지막 로그인 시각</th>
    </thead>
    <tbody>
    {% for info in this_list %}
        <tr>
            <td><input type="checkbox" name="chk-deveui-{{ info.owner_id }}"/> {{ info.deveui }}</td>
            <td>{{ info.owner_id }}</td>
            <td>{{ info.owner_name }}</td>
            <td>{{ info.phone_no }}</td>
            <td>{{ info.app_os }}</td>
            <td>{{ info.has_gcm|yesno:"Y," }}</td>
            <td>{{ info.last_login_time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<input type="button" class="btn btn-info btn-send-push" data-toggle="modal" data-target="#modal-push" value="PUSH 보내기"/>
</div>
{% endblock %}

{% block modal %}
<!-- Model -->
<div class="modal fade" id="modal-push" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">PUSH 메시지를 입력하세요.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="txt-modal-push" value="" size="72" placeholder="140자 이내로 입력하세요."/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-modal-push-ok">Save changes</button>
        <button type="button" class="btn btn-secondary" id="btn-modal-push-cancel" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script_body %}
<script>
$(function() {
    $('#btn_hour').on('click', function() {
        console.log('btn_hour');

        $('#btn_type').val('H');
        $('#frm').submit();

        return false;
    });

    $('#btn_day').on('click', function() {
        console.log('btn_day');

        $('#btn_type').val('D');
        $('#frm').submit();

        return false;
    });

    $('#modal-push').on('shown.bs.modal', function () {
        $('#txt-modal-push').trigger('focus');
    });

    $('#btn-modal-push-ok').on('click', function() {
        var push_message = $('#txt-modal-push').val();
        if (push_message.trim() === '') {
            alert('메시지를 입력하지 않았습니다.');
            return false;
        } else {
            $('#modal-push').modal('hide');

            var target = [];
            $('td input[type=checkbox]').each(function () {
                if (this.checked === true) {
                    var user_id = this['name'].split('-')[2];
                    target.push(parseInt(user_id))
                }
            });

            sw_post({
                request_url: '{% url "push.send_owner" %}',
                data: {
                    'target': target,
                    'message': push_message,
                },
                next_url: function() {
                    alert('발송하였습니다.');
                }
            });

            return false;
        }
    });

});
</script>
{% endblock %}
